In [135]:
import numpy as np
import pandas as pd
import scipy as sc
import matplotlib.pyplot as plt
import os, re
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import BernoulliNB, GaussianNB, MultinomialNB
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, precision_score, recall_score, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC, NuSVC, SVC
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
from sklearn.grid_search import GridSearchCV
from datetime import datetime as dt
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")
import rtfConverter as rtf
%matplotlib inline

# Files directory

In [12]:
os.chdir('E:/VINOD KUMAR/Project_Guf_new')

# Listing all files in working directory

In [35]:
#Listing all files in working directory
os.listdir()

['april_2nd_file.csv',
 'clf_svc1_categories',
 'clf_svc2_sub_categories',
 'clf_svc3_previous_appointments',
 'GFD to be Process 23 30 2018.csv',
 'GFD to be process Apr 1-22 2018.csv',
 'Guliford Jan,2016 - Mar,2018.xlsx',
 'Guliford_prav_Apr 2018.xlsx',
 'gul_april_1_30_2018.csv',
 'Gul_APR_2018_predicted_Results.csv',
 'mymodel',
 'rtfConverter.py',
 '__pycache__']

# Reading requried data files form local to jupiter notebook as dataframe using pandas

In [70]:
actual_data=pd.read_excel('Guliford Jan,2016 - Mar,2018.xlsx')
test_data=pd.read_excel('Guliford_prav_Apr 2018.xlsx')

In [71]:
print(actual_data.shape, "\n " ,actual_data.columns,"\n")
print(test_data.shape , "\n", actual_data.columns)

(86554, 16)
  Index(['FileID', 'clientid', 'PID', 'SUMMARY', 'DATA', 'Categories1',
       'Sub_categories1', 'Categories2', 'Sub_categories2', 'Categories3',
       'Sub_categories3', 'Categories4', 'Sub_categories4', 'Categories5',
       'Sub_categories5', 'Previous_Appointment'],
      dtype='object')

(3308, 16)
 Index(['FileID', 'clientid', 'PID', 'SUMMARY', 'DATA', 'Categories1',
       'Sub_categories1', 'Categories2', 'Sub_categories2', 'Categories3',
       'Sub_categories3', 'Categories4', 'Sub_categories4', 'Categories5',
       'Sub_categories5', 'Previous_Appointment'],
      dtype='object')

# Removing unwanted columns

In [72]:
actual_data.drop(actual_data.columns[8:16], axis=1, inplace=True)
test_data.drop(test_data.columns[8:17], axis=1, inplace=True)

In [73]:
actual_data.head()

,FileID,clientid,PID,SUMMARY,DATA,Categories1,Sub_categories1,Categories2
0,92824,1004,1.750262e+15,NaN,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,ASK_A_DOCTOR,MEDICATION RELATED,NaN
1,92825,1004,1.583836e+15,recurrent chest wall pain pneumonia symptoms,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,ASK_A_DOCTOR,SYMPTOMS,NaN
2,92826,1004,1.583837e+15,NaN,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,ASK_A_DOCTOR,MEDICATION RELATED,NaN
3,92827,1004,1.583837e+15,NaN,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,PRESCRIPTION,REFILL,NaN
4,92828,1004,1.583837e+15,NaN,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,PRESCRIPTION,REFILL,NaN

In [74]:
test_data.head()

,FileID,clientid,PID,SUMMARY,DATA,Categories1,Sub_categories1,Categories2
0,193040,1004,1583836030550010,Back pain,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,ASK_A_DOCTOR,SYMPTOMS,NaN
1,193041,1004,1583836519050010,******APPT NEEDED,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,ASK_A_DOCTOR,SYMPTOMS,NaN
2,193042,1004,1792575538807730,******Appt needed Tues/Wed or Fri AM with NP ...,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,APPOINTMENTS,NEW APPOINTMENT,NaN
3,193043,1004,1583835999550010,Discuss s/e on Aricept,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,ASK_A_DOCTOR,MEDICATION RELATED,NaN
4,193044,1004,1583836826150010,blood pressure problems but doesn't want to co...,{\rtf1\ansi\ftnbj{\fonttbl{\f0 \fswiss Arial;}...,APPOINTMENTS,NEW APPOINTMENT,NaN

In [75]:
actual_data.info(), test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86554 entries, 0 to 86553
Data columns (total 8 columns):
FileID             86554 non-null int64
clientid           86554 non-null int64
PID                82817 non-null float64
SUMMARY            83731 non-null object
DATA               86554 non-null object
Categories1        86554 non-null object
Sub_categories1    86554 non-null object
Categories2        1 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 5.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3308 entries, 0 to 3307
Data columns (total 8 columns):
FileID             3308 non-null int64
clientid           3308 non-null int64
PID                3308 non-null int64
SUMMARY            3201 non-null object
DATA               3308 non-null object
Categories1        3308 non-null object
Sub_categories1    3308 non-null object
Categories2        0 non-null float64
dtypes: float64(1), int64(3), object(4)
memory usage: 206.8+ KB

(None, None)

In [76]:
actual_data.describe(),test_data.describe()

(              FileID  clientid           PID
 count   86554.000000   86554.0  8.281700e+04
 mean   140956.152702    1004.0  1.621976e+15
 std     30047.799769       0.0  6.760923e+13
 min     92743.000000    1004.0  1.583836e+15
 25%    114486.250000    1004.0  1.583836e+15
 50%    140485.500000    1004.0  1.583837e+15
 75%    167014.500000    1004.0  1.638205e+15
 max    193642.000000    1004.0  1.836221e+15,
               FileID  clientid           PID  Categories2
 count    3308.000000    3308.0  3.308000e+03          0.0
 mean   195062.069528    1004.0  1.635121e+15          NaN
 std      1169.671607       0.0  8.211389e+13          NaN
 min    193040.000000    1004.0  1.583836e+15          NaN
 25%    194049.750000    1004.0  1.583836e+15          NaN
 50%    195066.000000    1004.0  1.583837e+15          NaN
 75%    196074.250000    1004.0  1.685635e+15          NaN
 max    197092.000000    1004.0  1.839750e+15          NaN)

# Extracting text from given meta data

In [79]:
def sentence_extraction(text):
    line = rtf.striprtf(text)
    return line

In [124]:
def clean_str1(string):
    string = re.sub(r"[^A-Za-z0-9(),!?\'\`]", " ", string)
    string = re.sub(r"\'s", " \'s", string)
    string = re.sub(r"\'ve", " \'ve", string)
    string = re.sub(r"n\'t", " n\'t", string)
    string = re.sub(r"\'re", " \'re", string)
    string = re.sub(r"\'d", " \'d", string)
    string = re.sub(r"\'ll", " \'ll", string)
    string = re.sub(r",", " , ", string)
    string = re.sub(r"!", " ! ", string)
    string = re.sub(r"\(", " \( ", string)
    string = re.sub(r"\)", " \) ", string)
    string = re.sub(r"\?", " \? ", string)
    string = re.sub(r"\s{2,}", " ", string)
    review_text = string.strip()
    letters_only = re.sub("[^a-zA-Z]", " ", review_text).lower()
    return letters_only

In [82]:
extracted_sent=[]
for i in range (0,len(actual_data)):
    extracted_sent.append(sentence_extraction(actual_data.DATA[i]))

In [83]:
extracted_sent_test=[]
for i in range (0,len(test_data)):
    extracted_sent_test.append(sentence_extraction(test_data.DATA[i]))

In [125]:
clean_sentence=[]
for i in range (0,len(extracted_sent)):
    clean_sentence.append(clean_str1(extracted_sent[i]))

In [126]:
clean_sentence_test=[]
for i in range (0,len(extracted_sent_test)):
    clean_sentence_test.append(clean_str1(extracted_sent_test[i]))

In [127]:
actual_data["clean_data"]=pd.DataFrame(clean_sentence)
test_data["clean_data"]=pd.DataFrame(clean_sentence_test)

In [136]:
#Removal of Stop Words & Stemmer
stemmer = SnowballStemmer('english')
words = stopwords.words("english")
actual_data["clean_data"] = actual_data["clean_data"].apply(lambda x: " ".join([stemmer.stem(i) for i in re.sub("[^a-zA-Z]", " ", x).split() if i not in words]).lower())
test_data["clean_data"] = test_data["clean_data"].apply(lambda x: " ".join([stemmer.stem(i) for i in re.sub("[^a-zA-Z]", " ", x).split() if i not in words]).lower())

In [ ]:
X_train_1, X_valid_1, y_train_1, y_valid_1 = train_test_split(train_data['extracted_sentence'], train_data.Categories1, test_size=0.2,random_state=42)